.column {
  position: relative;
  width: 100%;
}

.quote, .author {
  background-color: antiquewhite;
  color: #222;
  padding: 4px 8px;
  border-radius: 5px;
  font-style: italic;
}

.author {
  font-size: 80%;
}

.card-margin {
  margin: auto 15px;
  max-width: 100%;
}

.logo {
  width: 70px;
  height: 70px;
}

.menu {
  font-size: larger;
  margin: 0 auto;
  text-transform: uppercase;
}

.menu-item {
  padding: 15px;
  border: 1px solid transparent;
  letter-spacing: 0.02em;
}

.menu-item:hover {
  border-top: 1px solid #00cd1d;
  border-bottom: 1px solid #00cd1d;
  color: #1853ff;
}

.active-item {
  border-top: 1px solid #1853ff;
  border-bottom: 1px solid #1853ff;
  color: #1853ff;
  background-color: aliceblue;
}

.section-title {
  margin-bottom: 40px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #1853ff;
  text-align: center;
}

.main-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #00cd1d;
  width: 75%;
  margin: 20px auto;
}

.about-staff {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: aliceblue;
  border-radius: 5px;
}

.img-staff {
  width: 100%;
  border-radius: 4px;
}

.staff-title {
  font-weight: 400;
  font-size: 1.3rem;
  border-bottom: 1px dashed #ffe118;
  padding-bottom: 7px;
}

.row-margin {
  margin-right: 10%;
  margin-left: 10%;
}

.img, .img-left, .img-right {
  max-width: 400px;
  width: 100%;
  margin: 3px 10px;
  border: 5px solid #e6f3ff;
  padding: 3px;
}

.img-left {
  float: left;
}

.img-right {
  float: right;
}

.services-link {
  color: inherit;
}

.services-link:hover {
  text-decoration: none;
  color: inherit;
}

.services:hover {
  background-color: #138496;
}

.social-icons {
  float: right;
  word-spacing: 10px;
}

table {
  margin: 30px auto;
  min-width: 30%;
}

td, th {
  padding: 15px;
  border-left: 1px solid aliceblue;
  border-right: 1px solid aliceblue;
}

thead {
  border-bottom: 1px solid #8ac8ff;
  border-top: 1px solid #8ac8ff;
  background-color: aliceblue;
}

tbody tr {
  border-bottom: 1px dotted #ffe118;
}

footer {
  padding: 20px 0px 10px 0px;
  font-size: smaller;
  background-color: #f8f9fa;
  margin-top: 20px;
  border-top: 1px solid #dae0e5;
}

@media screen and (max-width: 576px) {
  .carousel-indicators {
    display: none;
  }
  .carousel-caption {
    margin-bottom: 0px;
  }
  .carousel-caption p {
    margin-bottom: 0.2rem;
  }
  .quote, .author {
    font-size: 0.7rem;
    padding: 3px 7px;
  }
  .author {
    font-size: 0.5rem;
    padding: 2px 6px;
  }
  .carousel-caption {
    padding-bottom: 0px;
    left: 7%;
    right: 7%;
    bottom: 2px;
  }
  h1 {
    font-size: 2rem;
  }
}
